@import '_colors.scss';

/* THROUGHOUT */

primaryFont {
  font-family: Calibri, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $primaryText;
  text-align: left;
}

p {
  @extend primaryFont;
  line-height: 1.7rem;
  letter-spacing: .02rem;
}

label {
  @extend p;
}

a {
  @extend p;
}